<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Accept Request</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<style>
h1{
  font-size: 72px; 
  font-weight: bold; 
  background: -webkit-linear-gradient(left top, red, yellow);
  background: linear-gradient(to bottom right, red, yellow);
  -webkit-background-clip: text;  
  -webkit-text-fill-color: transparent; 
  text-align:center; 
} 
</style>
<body>
<div class="table-responsive">
   <p><h1>Available contracts</h1></p>
   <table class="table table-striped table-hover">
     <thead>
       <tr>
         <th>ID</th>
         <th>Start date</th>
         <th>End date</th>
         <th>Service Type</th>
         <th>Price</th>
         <th>Signature date</th>
         <th>CIF</th>
       </tr>
     </thead>
     <tbody>
         <tr th:each="contract: ${contracts}"> 
         <td th:text="${contract.id}"></td> 
         <td th:text="${contract.startDate}"></td>
         <td th:text="${contract.endDate}"></td>
         <td th:text="${contract.serviceType}"></td>
         <td th:text="${contract.price}"></td>
         <td th:text="${contract.signatureDate}"></td>
         <td th:text="${contract.CIF}"></td>
         <td><a th:href="@{/request/accepted/{id}(id=${contract.id})}" class="btn btn-warning" role="button">Accept</a></td>
         </td>
       </tr>
     </tbody>
   </table>
   </div>
</body>
</html>