<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Nuevo servicio</title>
   <meta charset="UTF-8" />
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
   <link rel="stylesheet" type="text/css" href="/css/app.css"
                                    th:href="@{/css/app.css}"/>
</head>
<style>
</style>
<body>
<div layout:fragment="content">
    <h1>Nueva Petición</h1>
    <form action="#" th:action="@{/request/add}"
                     th:object="${request}" method="post">
      	<table>
        <tr><td style="padding: 5px 20px;"><p>Elige un servicio:<p>
		<select name=service style="height: 50px; width:430px;">
  		 <option th:each="Item : ${services}"
              th:value="${Item}" 
              th:text="${Item}"
              th:selected="false"
              th:field="*{service}"
              />
		</select></tr></td>
      </table>
      <table>
      <tr><td>Selecciona los dias que deseas el servicio:</tr></td>
      <tr><td><select name=schedule style="height: 50px; width:430px;">
  		 <option th:each="Item : ${days}"
              th:value="${Item}" 
              th:text="${Item}"
              th:selected="false"
              />
		</select></tr></td>
      <tr><td><input type="submit" class="btn btn3"  value="Solicitar servicio" /></td>
      </tr></table>
      
    </form>
    
</div>
</body>
</html>