<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>New request</title>
   <meta charset="UTF-8" />
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
   <link rel="stylesheet" type="text/css" href="/css/app.css"
                                    th:href="@{/css/app.css}"/>
</head>
<style>
</style>
<body>
<div layout:fragment="content">
    <h1>New request</h1>
    <form action="#" th:action="@{/request/add}"
                     th:object="${request}" method="post">
      	<table>
        <tr><td style="padding: 5px 20px;"><p>Choose a service:<p>
		<select th:field="*{service}" name=service style="height: 50px; width:430px;">
		<option value="catering">catering</option>
		<option value="health">health</option>
		<option value="cleanning">cleanning</option>
		</select></tr></td>
		<tr><td style="padding: 5px 20px;"><div class="error" th:if="${#fields.hasErrors('service')}" th:errors="*{service}"></div></td></tr>
		<tr><td style="padding: 5px 20px;">
		<p>If you have chosen catering, indicate the type of menu:<p>
		<select th:field="*{schedule}" name=schedule style="height: 50px; width:430px;">
  			<option value=" None">None</option>
			<option value=" Low in salt">Low in salt</option>
			<option value=" Celiac">Celiac</option>
			<option value=" Vegan">Vegan</option>
			<option value=" Hypertension">Hypertension</option>
		</select></tr></td>
		<tr><td style="padding: 5px 20px;">
		<p>If you have chosen health indicate the reason:<p>
		<select th:field="*{schedule}" name=schedule style="height: 50px; width:430px;">
			<option value=" None">None</option>
  		   	<option value=" Dentist">Dentist</option>
			<option value=" Urgency">Urgency</option>
			<option value=" Cure">Cure</option>
			<option value=" Doctor's Visit">Doctor's visit</option>
		</select></tr></td>
      </table>
      <table>
		 <tr><td>Select the start day:</tr></td>
		<tr><td><input style="height: 50px; width:430px;" type="date" th:field="*{schedule}"</tr></td>
		<tr><td><p></p></tr></td>
		<tr><td>Select the end day:</tr></td>
		<tr><td><input  style="height: 50px; width:430px;" type="date" th:field="*{schedule}"</tr></td>
      <tr><td><input type="submit" class="btn btn3"  value="Send" /></td>
      </tr></table>     
    </form>
    
</div>
</body>
</html>