<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Nuevo servicio</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
    <h2>Nueva Petición</h2>
    <form action="#" th:action="@{/request/add}"
                     th:object="${request}" method="post">
      <table>
        <tr>
            <td><label>Service</label></td>
            <td><input type="text" th:field="*{service}" required/></td>
        </tr>
        <tr>
            <td><label>Schedule</label></td>
            <td><input type="text" th:field="*{schedule}" required/></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Solicitar servicio" /></td>
        </tr>
      </table>
    </form>
</body>
</html>