<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>New request</title>
   <meta charset="UTF-8" />
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
   <link rel="stylesheet" type="text/css" href="/css/elderly.css"
                                    th:href="@{/css/elderly.css}"/>
</head>
<style>
td {
	padding: 5px 20px;
}
</style>
<body>
<div layout:fragment="content">
    <h1>New catering request</h1>
    <form action="#" th:action="@{/request/add}"
                     th:object="${request}" method="post">
      	</tr><td><input type="hidden" th:field="*{DNI}"/></td></tr>
		</tr><td><input type="hidden" th:field="*{service}"/></td></tr>
		</tr><td><input type="hidden" th:field="*{state}"/></td></tr>
		<table>
		<tr><td>
		<p>Please, indicate if you need a special type of menu:<p>
		<select th:field="*{schedule}" name=schedule style="height: 50px; width:430px;">
  			<option value="Normal diet">Normal diet</option>
			<option value="Low in salt">Low in salt</option>
			<option value="Celiac">Celiac</option>
			<option value="Vegan">Vegan</option>
			<option value="Hypertension">Hypertension</option>
			<option value="Other">Other</option>
		</select></tr></td>
		<tr><td>
		<p>If you choose other, please explain it here:<p></td></tr>
		
		</tr><td><textarea  style="height: 200px; width:430px;" id="other" th:field="*{schedule}" rows="4" cols="50">
		</textarea></td></tr>
		      <table>
		 <tr><td>Select the start day:</tr></td>
		<tr><td><input style="height: 50px; width:430px;" type="date" th:field="*{schedule}"</tr></td>
		<tr><td><p></p></tr></td>
		<tr><td>Select the end day:</tr></td>
		<tr><td><input style="height: 50px; width:430px;" type="date" th:field="*{schedule}"</tr></td>
        <tr><td><input type="submit" class="btn" onclick="myFunction()" value="SEND" /></td>
      </tr></table>     
    </form>
    
</div>
</body>
<script>
function myFunction() {
  alert("You have requested a catering service");
}
</script>
</html>