<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>New service</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" type="text/css" href="/css/elderly.css"
                                    th:href="@{/css/elderly.css}"/>
</head>
<body>
<div layout:fragment="content">
    <h1>Choose a service:</h1>
      	<table>      	
   		<tr><td><form method="get" action="/request/catering">
		<button type="submit" class="btn" value="catering">CATERING
		</form></tr></td>
        <tr><td><form method="get" action="/request/health">
		<button type="submit" class="btn" value="health">HEALTH
		</form></tr></td>
		<tr><td><form method="get" action="/request/cleaning">
		<button type="submit" class="btn" value="cleaning">CLEANING
		</form></tr></td>
		<tr><td><a th:href="@{/elderly/perfil/{DNI}(DNI=${elderly.DNI})}" 
		role="button" class="a a2">GO BACK</a></tr></td>	
		
		
		
			
        </tr></table> 
            
    
</div>
</body>
</html>