<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Error</title>
   <meta charset="UTF-8" />
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
   <link rel="stylesheet" type="text/css" href="/css/elderly.css"
                                    th:href="@{/css/elderly.css}"/>
</head>
<style>
</style>
<body>
<div layout:fragment="content">
    <h1>You already have a request for this service</h1>
	<table>
		<tr><td><form method="get" action="/request/choose"><button type="submit" class="btn" value="back">Back
		</form></td></tr>
 </table>  
</div>
</body>
</html>