<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Manage requests</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
         <link rel="stylesheet" type="text/css" href="/css/admin.css"
                                    th:href="@{/css/admin.css}"/>
</head>
<body>
<div class="container">
   <h1>Requests list</h1>
   <table class="table table-striped">
     <thead>
       <tr>
         <th>State</th>
         <th>Service</th>
         <th>Start Date</th>
		 <th>End Date</th>
		 <th>Details</th>
         <th></th>
         <th></th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="request: ${requests}"> 
         <td th:text="${request.state}"></td>
		 <td th:text="${request.service}"></td>
         <td th:text="${request.startDate}"></td>
		 <td th:text="${request.endDate}"></td>
		 <td th:text="${request.details}"></td>
		 <td><a th:href="@{/request/accept/{number}(number=${request.number})}" class="btn btn-warning" role="button">Accept</a></td>
         <td><a th:href="@{/request/cancel/{number}(number=${request.number})}" class="btn btn-danger" role="button">Reject</a></td>
       </tr>
     </tbody>
   </table>
   <a href="../portada" class="btn btn-primary" role="button">Atrás</a>  
   </div>
</body>
</html>