<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Manage requests</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<style>
h1{
  font-size: 72px;  
  font-weight: bold;
  background: -webkit-linear-gradient(left top, red, yellow);
  background: linear-gradient(to bottom right, red, yellow);
  -webkit-background-clip: text;  
  -webkit-text-fill-color: transparent; 
  text-align:center; 
}  
</style>
<body>
<div class="table-responsive">
   <h1>Requests list</h1>
   <table class="table table-striped table-hover">
     <thead>
       <tr>
         <th>State</th>
         <th>Service</th>
         <th>Schedule</th>
		 <th>Company name</th>
         <th></th>
         <th></th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="request: ${requests}"> 
         <td th:text="${request.state}"></td>
		 <td th:text="${request.service}"></td>
         <td th:text="${request.schedule}"></td>
         <td th:text="${request.schedule}"></td>
		 <td></td>
		 <td></td>
       </tr>
     </tbody>
   </table>
   <a th:href="@{/request/choose}"  class="btn btn-success" role="button">Add new request</a>
   </div>
</body>
</html>