<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Manage requests</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
      <link rel="stylesheet" type="text/css" href="/css/admin.css"
                                    th:href="@{/css/admin.css}"/>
</head>
<body>
<div class="table-responsive">
   <h1>Requests list</h1>
   <table class="table table-striped table-hover">
     <thead>
       <tr>
         <th>State</th>
         <th>Service</th>
         <th>Start date</th>
         <th>End date</th>
         <th>Details</th>
         <th></th>
         <th></th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="request: ${requests}"> 
         <td th:text="${request.state}"></td>
		 <td th:text="${request.service}"></td>
		 <td th:text="${request.startDate}"></td>
         <td th:text="${request.endDate}"></td>
         <td th:text="${request.details}"></td>
		 <td></td>
		 <td></td>
       </tr>
     </tbody>
   </table>
<table>
   <tr><td>
	<a th:href="@{../elderly/perfil/{DNI}(DNI=${DNI})}" class="btn btn-primary btn-lg" role="button">Back</a>
	</td></tr>
	</table>
   </div>
</body>
</html>