h1{
  font-size: 72px;  
  font-weight: bold;
  background: -webkit-linear-gradient(left top, red, yellow);
  background: linear-gradient(to bottom right, red, yellow);
  -webkit-background-clip: text;  
  -webkit-text-fill-color: transparent; 
  text-align:center; 
}  
table {
margin: 0 auto

}
td{
  padding: 20px 20px;
}
