body {font-family: Arial, Helvetica, sans-serif;}

.btn{
  text-align: center;
  display: inline-block;
  background: #00aae4;
  background-image: -webkit-linear-gradient(top, #00aae4, #eb94d0);
  background-image: -moz-linear-gradient(top, #00aae4, #eb94d0);
  background-image: -ms-linear-gradient(top, #00aae4, #eb94d0);
  background-image: -o-linear-gradient(top, #00aae4, #eb94d0);
  background-image: linear-gradient(to bottom, #00aae4, #eb94d0);
  text-decoration: none;
  border: none;
  cursor: pointer;
  FONT-SIZE: 25pt; 
  margin: 8px 0;
  padding: 20px 70px;
  width: 100%;
}
.btnupdate {
 width: 113%;

}

h1{
  font-size: 72px;  
  font-weight: bold;
  background: -webkit-linear-gradient(left top, red, yellow);
  background: linear-gradient(to bottom right, red, yellow);
  -webkit-background-clip: text;  
  -webkit-text-fill-color: transparent; 
  text-align:center; 
}  
table{
margin: 0 auto;
}
label{
  display: inline-block;
  width: 120px;
}
input[type=text], input[type=password],input[type=month], input[type=date], input[type=int], input[type=number]{
  width: 120%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.a {
  text-align: center;
  display: inline-block;
  background: #00aae4;
  background-image: -webkit-linear-gradient(top, #00aae4, #eb94d0);
  background-image: -moz-linear-gradient(top, #00aae4, #eb94d0);
  background-image: -ms-linear-gradient(top, #00aae4, #eb94d0);
  background-image: -o-linear-gradient(top, #00aae4, #eb94d0);
  background-image: linear-gradient(to bottom, #00aae4, #eb94d0);
  text-decoration: none;
  border: none;
  cursor: pointer;
  width: 91%;
  color: black;
  FONT-SIZE: 25pt; 
  margin: 8px 0;
}
.a1 {
  padding: 20px 25px;
}

.a2 {
  padding: 20px 15px;
}


