<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Manage elderly</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />

</head>
<style>
h1{
  font-size: 72px;  
  font-weight: bold;
  background: -webkit-linear-gradient(left top, red, yellow);
  background: linear-gradient(to bottom right, red, yellow);
  -webkit-background-clip: text;  
  -webkit-text-fill-color: transparent; 
  text-align:center; 
} 
</style>
<body>
<div class="table-responsive">
   <p><h1>Bank data</h1></p>
   <table class="table table-striped table-hover">
     <thead>
       <tr>
         <th>IBAN</th>
		 <th>Bank</th>
	     <th>Branch Office</th>
         <th></th>
         <th></th>
       </tr>
     </thead>
     <tbody>
         <td th:text="${bankdata.IBAN}"></td>
		 <td th:text="${bankdata.bank}"></td>
		 <td th:text="${bankdata.branch_office}"></td>
     </tbody>
   </table>
   <table>
   <tr><td><form method="get" action="../list">
   <button type="submit" class="btn btn-primary"> Back
   </form><tr><td>
   </table>
   </div>
</body>
</html>