<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <meta charset="UTF-8" />
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
   <title>Delete your account</title>
   <link rel="stylesheet" type="text/css" href="/css/app.css"
                                    th:href="@{/css/app.css}"/>
</head>
<style>
body {
    background-image: url('../perfil.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
</style>
<body>
<div class="container" style="text-align:center;">
   <h1>Are you sure do you want to delete your account?</h1>   
   <table>
   <tr><td><a th:href="@{/elderly/perfil/{DNI}(DNI=${elderly.DNI})}" 
		role="button" class="a2"><b>GO BACK</b></a></tr></td>
	<tr><td><a th:href="@{/elderly/perfil/{DNI}(DNI=${elderly.DNI})}" 
		role="button" class="a2"><b>DELETE YOUR ACCOUNT</b></a></tr></td>
	</table>
   
   </div>
</body>
</html>