<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <meta charset="UTF-8" />
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
   <title>Profile</title>
   <link rel="stylesheet" type="text/css" href="/css/app.css"
                                    th:href="@{/css/app.css}"/>
</head>
<style>
body {
    background-image: url('../perfil.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
</style>
<body>
<div class="container" style="text-align:center;">
   <h1>My profile</h1>
   <table>
   		<tr><td><form method="get" action="/request/add">
		<button type="submit" class="btn btn3">Request a service
		</form></tr></td>
       <tr><td><form method="get" action="../datos">
		<button type="submit" class="btn btn3">Show personal data
		</form></tr></td>
		<tr><td><form method="get" action="/request/list">
		<button type="submit" class="btn btn3">Show requests
		</form></tr></td>
		<tr><td><form method="get" action="/elderly/invoices">
		<button type="submit" class="btn btn3">Show invoices
		</form></tr></td>
		<tr><td><a th:href="@{/elderly/update/{DNI}(DNI=${elderly.DNI})}" 
		role="button" class="a1">Edit my profile</a></tr></td>
		<tr><td><form method="get" action="../eliminarcuenta">
		<button type="submit" class="btn btn3">Delete my account
		</form></tr></td>
		<tr><td><a th:href="@{/logout}" role="button" class="a1">Logout
		</a></tr></td>
	</table>
   </div>
</body>
</html>