<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <meta charset="UTF-8" />
   <title>Profile</title>
   <link rel="stylesheet" type="text/css" href="/css/elderly.css"
                                    th:href="@{/css/elderly.css}"/>
</head>
<body>
<div class="container" style="text-align:center;">
   <h1>My site</h1>
   <table>
   		<tr><td><form method="get" action="/request/choose">
		<button type="submit" class="btn">REQUEST A SERVICE
		</form></tr></td>
        <tr><td><a th:href="@{/elderly/datos/{DNI}(DNI=${elderly.DNI})}" 
		role="button" class="a">SHOW PERSONAL DATA
		</form></tr></td>
		<tr><td><form method="get" action="/request/list">
		<button type="submit" class="btn">SHOW REQUEST
		</form></tr></td>
		<tr><td><form method="get" action="/elderly/invoices">
		<button type="submit" class="btn">SHOW INVOICES
		</form></tr></td>
		<tr><td><a th:href="@{/elderly/update/{DNI}(DNI=${elderly.DNI})}" 
		role="button" class="a">EDIT MY PROFILE</a></tr></td>
		<tr><td><form method="get" action="../eliminarcuenta">
		<button type="submit" class="btn">DELETE MY ACCOUNT
		</form></tr></td>
		<tr><td><a th:href="@{/logout}" role="button" class="a">LOGOUT
		</a></tr></td>
	</table>
   </div>
</body>
</html>