<!DOCTYPE html>
<head>
 <link rel="stylesheet" type="text/css" href="/css/app.css"
                                    th:href="@{/css/app.css}"/>
<title>Login</title>
<meta charset="UTF-8"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div layout:fragment="content">
	<h1>Access</h1>
	  <table>
	  <form action="#" th:action="@{/login}" 
	      th:object="${user}" method="post">
	  <tr><td rowspan="10"><img src="app.png" style="max-height: 80%; max-height: 80%;"></td></tr>
		<tr><td><b class="fa fa-user icon">
		   	<b><label>User:</label></b>
            <input class="form_control" type="text" th:field="*{username}"/>
            <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
		</tr></td></b>
		<tr><td><b class="fa fa-key icon">
		   	<b><label>Password:</label></b>
            <input class="form_control" type="password" th:field="*{password}"/>
            <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
		</tr></td></b>	
		<tr><td><input type="submit" class="btn btn4" value="Enter" /></form>		
		<tr><td><form method="get" action="../">
		<button type="submit" class="btn btn4"> Back
		</form></tr></td>
		<tr><td><form method="get" action="elderly/add">
		<button type="submit" class="btn btn4">Sign in
		</form></tr></td></table>				
</div>
</body>
</html>
