<!DOCTYPE html>
<head>
 <link rel="stylesheet" type="text/css" href="/css/app.css"
                                    th:href="@{/css/app.css}"/>
<title>Login</title>
<meta charset="UTF-8"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div layout:fragment="content">
	<h1>Acceso</h1>
	<form action="#" th:action="@{/login}" 
	      th:object="${user}" method="post">
	  <table>
	  <tr><td rowspan="10"><img src="app.png" style="max-height: 50%; max-height: 50%;"></td></tr>
		<tr><td><p class="fa fa-user icon">
		   	<b><label>Usuario:</label></b>
            <input class="form_control" type="text" th:field="*{username}"/>
            <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
		</tr></td></p>
		<tr><td><p class="fa fa-key icon">
		   	<b><label>Contraseña:</label></b>
            <input class="form_control" type="password" th:field="*{password}"/>
            <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
		</tr></td></p>	
		<tr><td><p><input type="submit" class="btn btn1" value="Entrar" />
		<form method="get" action="../">
		<button type="submit" class="btn btn1">Volver
		</form>
		<form method="get" action="elderly/add">
		<button type="submit" class="btn btn1">Registrarme
		</form></tr></td>		
	</table>
	</form>
</div>
</body>
</html>
