<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8" />
   <title>EI1027</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
   <link rel="stylesheet" type="text/css" href="/css/app.css"
                                    th:href="@{/css/app.css}"/>
</head>
<body>
	<h1>Gestion</h1>
	<table>
	<tr><td rowspan="10"><img src="app.png" style="max-height: 70%; max-height: 80%;"></td></tr>
	<tr><td><form method="get" action="elderly/list">
		<button type="submit" class="btn btn3">Gestión de Ancianos
		</form></tr></td>
	<tr><td><form method="get" action="company/list">
	    <button type="submit" class="btn btn3">Gestión de Empresas
		</form></tr></td>
	<tr><td><form method="get" action="contract/list">
		<button type="submit" class="btn btn3">Gestión de Contratos
		</form></tr></td>
	<tr><td><form method="get" action="contract/add">
		<button type="submit" class="btn btn3">Añadir contrato
		</form></tr></td>
	<tr><td><form method="get" action="contract/add">
		<button type="submit" class="btn btn3">Añadir empresa
		</form></tr></td>
	<tr><td><form method="get" action="elderly/add">
		<button type="submit" class="btn btn3">Añadir persona mayor
		</form></tr></td>
	<tr><td><form method="get" action="logout">
		<button type="submit" class="btn btn3">Salir
		</form></tr></td>
	</table>
</body>
</html>