<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Contract management</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
         <link rel="stylesheet" type="text/css" href="/css/admin.css"
                                    th:href="@{/css/admin.css}"/>
</head>
<body>
<div class="table-responsive">
   <p><h1>Contract list</h1></p>
   <table class="table table-striped table-hover">
     <thead>
       <tr>
         <th>Start date</th>
         <th>End date</th>
         <th>Service Type</th>
         <th>Price</th>
         <th>Signature date</th>
         <th>Company</th>
       </tr>
     </thead>
     <tbody>
         <tr th:each="contract: ${contracts}"> 
         <td th:text="${contract.startDate}"></td>
         <td th:text="${contract.endDate}"></td>
         <td th:text="${contract.serviceType}"></td>
         <td th:text="${contract.price}"></td>
         <td th:text="${contract.signatureDate}"></td>
         <td><a th:href="@{/company/datos/{CIF}(CIF=${contract.CIF})}" 
		  th:text="${contract.company.name}" role="button"></td>
         <td><a th:href="@{/contract/update/{id}(id=${contract.id})}" class="btn btn-warning" role="button">Edit</a></td>
         <td><a th:href="@{/contract/delete/{id}(id=${contract.id})}" class="btn btn-danger" role="button">Delete</a>
         </td>
       </tr>
     </tbody>
   </table>
   <a href="add" class="btn btn-success" role="button">Add</a>
   <a href="../portada" class="btn btn-primary" role="button">Atrás</a>
   </div>
</body>
</html>