<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Edit contract</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
     <link rel="stylesheet" type="text/css" href="/css/app.css"
                                    th:href="@{/css/app.css}"/>
</head>
<body>
    <h1>Edit contract</h1>
    <form action="#" th:action="@{/contract/update}"
                     th:object="${contract}" method="post">
      <table>
        <tr>
            <td><label>ID</label></td>
            <td><input type="text" th:field="*{id}" readonly/></td>
        </tr>
        <tr>
            <td><label>Start date</label></td>
            <td><input type="text" th:field="*{startDate}" required/></td>
        </tr>
        <tr>
            <td><label>End date</label></td>
            <td><input type="text" th:field="*{endDate}" required/></td>
        </tr>
        <tr>
            <td><label>Service type</label></td>
            <td><input type="text" th:field="*{serviceType}" required/>
			<div class="error" th:if="${#fields.hasErrors('serviceType')}" th:errors="*{serviceType}"></div></td>  
        </tr>
        <tr>
            <td><label>Price</label></td>
            <td><input type="number" th:field="*{price}" required/></td>
        </tr>
        <tr>
            <td><label>Signature date</label></td>
            <td><input type="text" th:field="*{signatureDate}" required/></td>
        </tr>
        <tr>
            <td><label>CIF</label></td>
            <td><input type="text" th:field="*{CIF}" readonly/></td>
        </tr>
        <td colspan="2"><input class="btn btn1" type="submit" value="Edit" /></td>
      </table>
    </form>
</body>
</html>