<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Register new company</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
      <link rel="stylesheet" type="text/css" href="/css/app.css"
                                    th:href="@{/css/app.css}"/>
</head>
<body>
    <h1>New company</h1>
    <form action="#" th:action="@{/company/add}"
                     th:object="${company}" method="post">
      <table>
        <tr>
            <td><p><label>Name</label></p></td>
            <td><input type="text" th:field="*{name}" required/></td>
        </tr>
        <tr>
            <td><p><label>CIF</label></p></td>
            <td><input type="text" th:field="*{CIF}" required/>
            <div class="error" th:if="${#fields.hasErrors('CIF')}" th:errors="*{CIF}"></div></td>             
        </tr>
        <tr>
            <td><p><label>Contact person</label></p></td>
            <td><input type="text" th:field="*{contactPerson}" required/></td>
        </tr>
        <tr>
            <td><p><label>Telephone Number</label></p></td>
            <td><input type="text" th:field="*{telephoneNumber}" required/></td>
        </tr>
        <tr>
            <td><p><label>User Name</label></p></td>
            <td><input type="text" th:field="*{userName}" required/></td>
        </tr>
        <tr>
            <td><p><label>Password</label></p></td>
            <td><input type="password" th:field="*{password}" required/></td>
        </tr>
         <td colspan="2"><input type="submit" class="btn btn2" value="Register" /></td>
        </tr>
      </table>
    </form>
</body>
</html>