<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <meta charset="UTF-8" />
   <title>Profile</title>
   <link rel="stylesheet" type="text/css" href="/css/app.css"
                                    th:href="@{/css/app.css}"/>
</head>
<body>
<div class="container" style="text-align:center;">
   <h1>My profile</h1>
   <table>
       <tr><td><form method="get" action="../datos">
		<button type="submit" class="btn">Show company data
		</form></tr></td>	
		<tr><td><form method="get" action="../datoscontrato">
		<button type="submit" class="btn">Show contracts
		</form></tr></td>
		<tr><td><form method="get" action="../datoselderly">
		<button type="submit" class="btn">Show clients
		</form></tr></td>			
		<tr><td><a th:href="@{/company/update/{CIF}(CIF=${company.CIF})}" 
		role="button" class="aperfil">Edit my profile</a></tr></td>			
		<tr><td><form method="get" action="../eliminarcuenta">
		<button type="submit" class="btn">Delete your account
		</form></tr></td>		
		<tr><td><form method="get" action="../../logout">
		<button type="submit" class="btn">Logout
		</form></tr></td>
	</table>
   </div>
</body>
</html>