<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
 <link rel="stylesheet" type="text/css" href="/css/app.css"
                                    th:href="@{/css/app.css}"/>
   <title>Modificar usuario</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
    <h1>Modifica la empresa</h1>
    <form action="#" th:action="@{/company/update}"
                     th:object="${company}" method="post">
      <table>
        <tr>
            <td><label>Name</label></td>
            <td><input type="text" th:field="*{name}" required/></td>
        </tr>
        <tr>
            <td><label>CIF</label></td>
            <td><input type="text" th:field="*{CIF}" required/></td>
        </tr>
        <tr>
            <td><label>Contact Person</label></td>
            <td><input type="text" th:field="*{contactPerson}" required/></td>
        </tr>
        <tr>
            <td><label>Telephone number</label></td>
            <td><input type="int" th:field="*{telephoneNumber}" required/></td>
        </tr>
        <tr>
            <td><label>User Name</label></td>
            <td><input type="text" th:field="*{userName}" required/></td>
        </tr>
        <tr>
            <td><label>password</label></td>
            <td><input type="text" th:field="*{password}" required/></td>
        </tr>
        <td colspan="2"><input class="btn" type="submit" value="Modifica usuario" /></td>
        <td colspan="2"><input class="btn" type="submit" value="Modifica usuario" /></td>
      </table>
    </form>
</body>
</html>